html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html {
  /* vscode windows */
  font-family: "Monaco", "Menlo", "Consolas", "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
  /* vscode mac */
  font-family: "Segoe WPC","Segoe UI",SFUIText-Light,HelveticaNeue-Light,sans-serif,"Droid Sans Fallback";
  font-size: 13px
}

.splash {
  background: #333;
  color: white;
}
.welcome {
  width: 500px;
  margin: 0 auto;
}
.welcome h1 {
  font-size: 72px;
  font-family: "Signika",Helvetica,sans-serif;
  margin-bottom: 30px;
}
.welcome h1 img {
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-right: 15px;
  vertical-align: middle;
}
.welcome h2 {
    line-height: 1.3em;
    margin-bottom: 50px;
    font-size: 28px;
    margin-top: 22px;
    margin-bottom: 11px;
    font-family: inherit;
    font-weight: 500;
}

.right { float: right; }
.left { float: left; }

.launchOption {
  display: flex;
  margin-bottom: 0px;
}
.launchOption > span {
  min-width: 150px;
  vertical-align: middle;
  line-height: 30px;
}
.launchOption + span.separator {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 20px 0;
  font-style: italic;
}
span.separator::before {
    content: " ";
    border-bottom: 1px solid white;
    height: 0px;
    width: 100%;
    display: block;
    margin-top: 9px;
    margin-bottom: -9px;
    z-index: -1;
    opacity: 0.1;
}
.launchOption form { flex: 1; }
.launchOption .inputbar { width: 100%; }


.inputbar {
  background: #eee;
}
input[type=text] {
    background: none;
    width: 100%;
    display: block;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    outline-style: inset;
    outline-width: 1px;
    outline-offset: -1px;
}

.rel {
  position: relative;
}
label input[type=file] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html, body { height: 100%; }
.flex { display: flex; }
.flexy {
  display: flex;
  width: 100%;
  height: 100%;
}
.flexy-v { flex-direction: column; }

.flexy > * {
  flex: 1;
}
.noflex { flex: 0; }

div.menufold {
  z-index: 1000;
  transition: all 0.2s;
}
div.menufold a.brand {
  line-height: 50px;
  color: white;
  font-size: 1.5em;
}
div.menufold img {
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 8px;
  margin-left: 8px;
}
div.menufold a {
  color: inherit;
  text-decoration: none;
}

div.menufold .slider {
  padding: 12px;
}

.menufold a.btn:hover, .menufold button:hover {
    border-bottom: 4px solid white;
    padding-bottom: 13px;
    background: rgba(255,255,255,.1);
}
.menufold a.btn, .menufold button {
    background: none;
    color: white;
    padding-bottom: 17px;
    padding-top: 17px;
    cursor: pointer;
}

div#menufold-static {
  position: static;
  background: #333;
  height: 50px;
}

div#menufold-fixed {
  position: fixed;
  flex: 0;
  top: 0;
  left: 0;
  right: 0;
  border-top: 5px solid #b7178c;
  height: 15px;
}
.menufold + * {
  height: calc(100% - 50px);
}

div.menufold:hover {
  height: 50px;
  border-top: 0px solid;
  background: #b7178c;
}

.editor { overflow: hidden; }
.editor iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.resizer {
    width: 2px;
    min-width: 2px;
    background: #333;
    flex: 0;
    height: 100%;
    cursor: ew-resize;
}
   
svg,
top,
center,
master,
detail {
  display: block;
  text-align: left;
}

detail {
  flex: 1;
}

.nomarbles {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: justify;
}
.nomarbles p {
  width: 100%;
  text-align: center;
}

#app {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: black;
}

top {
  display: block;
  line-height: 22px;
  padding: 0 5px;
  background: #262626;
  color: #e2e2e2;
  flex: 0;
  min-width: 100%;
}

#svg {
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    transition: 0.5s all;
}
#svg:hover {
    width: 95vw !important;
    height: 90vh !important;
}

app {
  flex: 2 !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: auto;
}

path.branch { stroke: gray; }
path.branch:hover { stroke: darkslategray; }

#marbles {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

master > * {
  min-height: 100%;
  background: #eee;
  content: "";
}

.operator {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 1px solid #777;
  box-sizing: border-box;
  background: white;
  text-align: center;
}

.operator.withStack {
  line-height: 25px;
}

.operator div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.operator div + div {
  font-size: 0.8em;
  font-style: italic;
  color: #1678CA;
  text-decoration: underline;
}

.operator:first-child {
  margin-top: 30px;
}

.operator:last-child {
  margin-bottom: 0px;
}

.marblediagram {
  width: 100%;
  height: 60px;
}

.marblediagram svg, svg#structure {
  overflow: visible;
}

.marblediagram line.time {
  stroke: lightgray;
  stroke-width: 2px;
}

.marblediagram line.active {
  stroke: black;
  stroke-width: 2px;
}

.marblediagram circle {
  fill: purple;
  stroke-width: 0;
  stroke: none;
}

.marblediagram .next.higher {
  fill: white;
  stroke-width: 2px;
  stroke: black;
  rx: 12;
  ry: 12;
}

.marblediagram circle:hover, .marblediagram .complete:hover, .marblediagram .error:hover {
  transform: scale(1.2);
}

.marblediagram circle.subscribe { fill: yellow; }
.marblediagram circle.next { fill: limegreen; }
.marblediagram circle.error { fill: red; }
.marblediagram circle.complete { fill: dodgerblue; }
.marblediagram circle.dispose { fill: gray; }

.marblediagram .arrow {
    stroke-width: 1px;
    stroke: gray;
    stroke-dasharray: 10, 5;
    marker-end: url(#arrow);
}

.marblediagram .complete, .marblediagram .error  {
  stroke-width: 2;
  stroke: black;
}

master {
  background: #eeeeee;
}

master path {
  fill: transparent;
  cursor: pointer;
}

button, .btn {
  display: inline-block;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: #1678CA;
  color: #ebecec;
  outline: none;
  padding: 10px;
  margin: 0;
  vertical-align: baseline;
  font-size: inherit;
  font-family: system-ui;
  font-weight: normal;
  text-decoration: none;
}
button:hover, a.btn:hover {
  background: #0D61AD;
}

bar {
  background: #0F6FC8;
}

g.circle text, g.circle rect {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

g.circle:hover text, g.circle:hover rect {
  display: block;
  opacity: 1;
}

.graph-label {
  position: absolute;
  min-width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.graph-label span {
  display: none;
  border-radius: 4px;
  background: rgba(0,0,0,.75);
  color: white;
  padding: 2px;
  margin-left: 20px;
  margin-top: 0;
  width: auto;
  white-space: nowrap;
}

.graph-label:hover span
/*, .graph-label.focus span*/ {
  display: block;
}

#structure, #structure-mask {
  transition: width 0.5s, height 0.5s;
}

/*.slider {
  height: 10px;
  background: gray;
  margin: 10px;
  overflow: hidden;
}

.slider .handle {
  height: 30px;
  width: 30px;
  background: black;
  margin: -10px 0;
  margin-left: calc(100% - 30px);
}*/

.slider {
}

.slider input {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  margin: 10px 0 0 0;
  /*background: linear-gradient(to right,#03A9F4 0%, #03A9F4 100%);*/
  background: rgba(0,0,0,.2);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  outline: none;
  zoom: 130%;
  display: block;
  margin: auto;
}

.slider input[type=range]:focus {
    outline: 1px solid #1678CA;
    outline-offset: 0px;
    background: rgba(0,0,0,.3);
    outline-style: inset;
}

.slider input[type=range]:hover {
    background: rgba(0,0,0,.3);
}

.slider input::-webkit-slider-thumb, .slider .thumb {
 -webkit-appearance: none;
 width: 10px;
 height: 15px;
 background: #1678CA;
 position: relative;
 z-index: 3;
 box-shadow: 0 0 2px rgba(0,0,0,.4);
}

.slider input::-webkit-slider-thumb:after {
 content: " ";
 width: 100vw;
 height: 10px;
 position: absolute;
 z-index: 1;
 right: 20px;
 top: 5px;
 background: #1678CA;
}

.ml3 {
  margin-left: 2em;
}