html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  /* vscode windows */
  font-family: "Monaco", "Menlo", "Consolas", "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
  /* vscode mac */
  font-family: "Segoe WPC","Segoe UI",SFUIText-Light,HelveticaNeue-Light,sans-serif,"Droid Sans Fallback";
  font-size: 13px
}
    
svg,
top,
center,
master,
detail {
  display: block;
  text-align: left;
}

#app {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: black;
}

top {
  display: block;
  line-height: 22px;
  padding: 0 5px;
  background: #262626;
  color: #e2e2e2;
}

#svg {
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    transition: 0.5s all;
}
#svg:hover {
    width: 95vw !important;
    height: 90vh !important;
}

app {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: auto;
}

path.branch { stroke: gray; }
path.branch:hover { stroke: darkslategray; }

#marbles {
  flex: 1;
  padding-right: 15px;
}

master > * {
  background: #eeeeee;
  min-height: 100%;
  content: "";
}

.operator {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border: 1px solid #777;
  box-sizing: border-box;
  background: white;
  text-align: center;
}

.operator.withStack {
  line-height: 25px;
}

.operator div + div {
  font-size: 0.8em;
  font-style: italic;
  color: #1678CA;
  text-decoration: underline;
}

.operator:first-child {
  margin-top: 50px;
}

.operator:last-child {
  margin-bottom: 0px;
}

.marblediagram {
  width: 100%;
  height: 100px;
}

.marblediagram svg {
  overflow: visible;
}

.marblediagram line.time {
  stroke: black;
  stroke-width: 2px;
}

.marblediagram circle {
  fill: purple;
  stroke-width: 0;
  stroke: none;
}

.marblediagram circle:hover {
  transform: scale(1.2);
}

.marblediagram circle.subscribe { fill: yellow; }
.marblediagram circle.next { fill: limegreen; }
.marblediagram circle.error { fill: red; }
.marblediagram circle.complete { fill: dodgerblue; }
.marblediagram circle.dispose { fill: gray; }

.marblediagram .arrow {
    stroke-width: 1px;
    stroke: gray;
    stroke-dasharray: 10, 5;
    marker-end: url(#arrow);
}

detail {
  flex: 0;
}

master {
  flex: 1;
  display: flex;
  flex-direction: row;
  stroke: black;
}

master path {
  stroke-width: 4px;
  fill: transparent;
}

button {
  display: inline-block;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: #1678CA;
  color: #ebecec;
  outline: none;
  padding: 10px;
  margin: 0;
  vertical-align: baseline;
  font-size: inherit;
}
button:hover {
  background: #0D61AD;
}

bar {
  background: #0F6FC8;
}
