body {
  display: flex;
  flex-direction: column;
}

.survey {
  flex: 1;
  overflow-y: auto;
}

.width {
  max-width: 40em;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 1em;
  flex: 1;
}

.mobile-only { display: none; }
.mobile .mobile-only { display: inherit; }

.page {
  min-height: 80vh;
}

.hoptions {
  display: flex;
  padding: 0;
  flex-direction: row;
}
.hoptions li {
  flex: 1;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  margin: 5px;
}
.hoptions li label {
  display: block;
  background: #eee;
  border: #ccc 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 3px;
}

input[type="range"], .question input[type="range"] {
  -webkit-appearance: none;
  background: #ccc;
  border-radius: 6px;
  padding: 3px 5px;
  margin-bottom: 20px;
  margin-left: -14px;
  margin-right: -14px;
  width: calc(100% + 28px);
  border: 1px solid #9a9a9a;
  margin-top: 8px;
}

.hoptions li label input[type="radio"] {
  display: block;
  margin: 5px auto 3px;
}

.question { margin-bottom: 2em; }
.question .labels {
  display: flex;
}
.question input {
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  margin: 0;
}
.question .labels .label {
  padding-top: 0;
  flex: 1;
  text-align: center;
  position: relative; 
}
.question .labels .label:first-child { flex: 0.5; text-align: left; }
.question .labels .label:last-child { flex: 0.5; text-align: right; }

.question .labels .label:before {
  z-index: -1;
  position: absolute; 
  left: 50%;
  top: -22px; 
  margin-left: -1px;
  width: 2px;
  height: 15px;
  background: black;
  content: "";
}
.question .labels .label:first-child:before { left: 0; right: auto; }
.question .labels .label:last-child:before { left: auto; right: 0; }

.nav {
  background: #efefef;
  border-bottom: #ccc 2px solid;
  padding: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.nav ol { 
  font-size: 1.2em;
  max-width: 40em;
  display: flex;
  margin: 0 auto;
  padding: 0;
  overflow-x: auto;
}
.nav ol li {
  list-style: none;
  margin: 0;
  flex: 1;
  flex-grow: 0;
  white-space: nowrap;
}

.nav ol li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}
.nav ol li a:hover { background: #ddd; border-bottom: 2px solid #ccc; margin-bottom: -2px; }
.nav ol li a:active, .nav ol li a:focus { border-bottom: 2px solid blue; margin-bottom: -2px; }

@media (pointer:coarse) {
  input[type="range"] {
    min-height: 50px;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
}

.mobile input[type="range"] {
  min-height: 50px;
}
.mobile input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.tool {
  border: 1px solid #333333;
}
.survey .tool .app {
  /* Don't scroll in RxFiddle in survey */
  overflow-y: visible;
}

.fullwidth {
  margin-left: calc(-50vw + 19em);
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.bg-blue {
  background: #1678ca;
  color: white;
}

.question-bar {
  background: #1678ca;
  color: white;
  padding: 1em 0.5em;  
}

.menufold + div {
  height: auto;
}
#screens {
  flex: 1;
  display: flex;
  position: relative;
}
#screens > .tool {
  flex: 1;
  display: flex;
}
#screens .question-bar, #screens .menufold {flex: 0;}

.scrolly { overflow-y: scroll }

.countdown {
  font-size: 2em;
  line-height: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.2);
  z-index: 1000;
}

button.btn .overlay, button.btn + .overlay { display: none; }
button.btn:hover .overlay, button.btn:active .overlay { display: block; }
button.btn:hover + .overlay, button.btn:active + .overlay { display: block; }

.help svg path {
  fill: none;
  stroke: white;
  stroke-width: 6px;
}

.help svg text {
  fill: white;
  font-size: larger;
}
.helpbutton {
  position: relative;
  z-index: 1001;
}